.product{
  position: relative;
  min-height: 90vh;
}

.topMenu{
  width: 100%;
  margin-bottom: 20px;
  padding: 190px 20px 0 20px;
  box-sizing: border-box;
}

.menu-1{
  position: relative;
  text-align: center;
}

.menu-1 h2{
  font-size: var(--font-size-L);
  font-weight: normal;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.menu-1 h2::after{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../assets/svg/arrow-right_b.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(10px,-50%) rotate(90deg);
  transition: all 0.2s;
}

.menu-1 h2.active::after{
  transform: translate(10px,-50%) rotate(-90deg);
}

.menu-1__tapMenu{
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  background-color: var(--white);
  box-shadow: 0 2px 13px rgb(164 167 172 / 20%);
  box-sizing: border-box;
  transition: all 0.4s;
  z-index: 999;
  overflow: hidden;
  height: 0;
  padding: 0px 20px;
}

.menu-1__tapMenu .tapMenuList{
  width: 100%;
  font-size: var(--font-size-XS);
  text-align: center;
}

.menu-1__tapMenu .tapMenuList:first-child{
  margin-top: 20px;
}

.menu-1__tapMenu .tapMenuList:last-child{
  margin-bottom: 20px;
}

.menu-1__tapMenu .tapMenuList a{
  display: block;
  padding: 5px 0;
}

.menu-1__filterButton{
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  opacity: 1;
  transition: all .4s;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter .filterBox{
  position: fixed;
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  z-index: 1001;
  right: -30%;
  top: 0;
  background-color: var(--white);
  box-sizing: border-box;
  transition: all 0.4s;
}

.filter .filterBox.active{
  right: 0;
}

.filterBox-inner{
  padding: 20px;
}

.filter-back{
  font-size: var(--font-size-S);
  position: relative;
  text-align: center;
  padding-left: 20px;
  cursor: pointer;
  margin: 20px 0;
}

.filter-back::before{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../assets/svg/arrow-right_b.svg);
  background-size: cover;
  transform: rotate(180deg) translateX(30px);
}

.filter-content{
  box-sizing: border-box;
  padding: 30px 0;
}

.filter-content .filter-content__title{
  font-size: var(--font-size-XL);
  font-weight: normal;
  text-align: center;
}

.filter-content p{
  font-size: var(--font-size-S);
  text-align: center;
  margin: 20px 0;
}

.filter-content img{
  width: 100%;
}

.filter-tag{
  width: 100%;
  text-align: center;
}

.filter-tag span{
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  color: var(--graya);
  margin: 5px;
  font-size: var(--font-size-XS);
  border: 1px solid var(--grayf5);
  cursor: pointer;
}

.filter-tag span:hover{
  border: 1px solid var(--graya);
}

.filter-tag span.click{
  color: var(--black);
  border: 1px solid var(--black);
}

.filter-selectButton{
  width: 100%;
  padding: 20px;
  background-color: var(--black);
  margin-top: 20px;
  color: var(--white);
}

.filterBox-Bg{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.filterBox-Bg .filterBox-Bg-wrap{
  width: 70%;
  height: 100%;
  position: relative;
}

.filterBox-Bg .filterBox-Bg__text{
  font-size: var(--font-size-S);
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  position: absolute;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 30%;
  transform: translate(-30%,-30%);
}

.menu-2__menu{
  display: flex;
  gap: 2%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.menu-2__menu .menu-item{
  margin: 10px 0;
  font-size: var(--font-size-S);
}

.menu-2__menu .menu-item a{
  opacity: 0.5;
}

.menu-2__menu .menu-item.active{
  font-weight: bold;
}

.menu-2__menu .menu-item.active a{
  opacity: 1;
  text-decoration: underline;
}

.selectBox{
  margin-left: auto;
  position: relative;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.selectBox::after {
  content: '▾';
  position: absolute;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: var(--font-size-XS);
  color: var(--graya);
}

.selectBox .select{
  height: 100%;
  width: 100%;
  font-size: var(--font-size-XS);
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
  border: 1px solid var(--graya);
  border-bottom: none;
}

.selectBox .select-list{
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 13px rgb(164 167 172 / 20%);
  border: 1px solid var(--graya);
  border-top: none;
  height: 0;
  overflow: hidden;
  transition: all .4s;
}

.selectBox .select-list.active{
  height: 251px;
}

.selectBox .select-option{
  height: 35px;
  font-size: var(--font-size-XS);
  color: var(--graya);
  padding-left: 10px;
  text-align: left;
  line-height: 35px;
  background-color: var(--white);
  border-bottom: 1px solid var(--grayf5);
}

.selectBox .select-option:last-child{
  border-bottom: none
}

.selectBox .select-option:hover{
  background-color: var(--graya);
  color: var(--white);
}

.productItem{
  width: 100%;
  height: 100%;
}

.productItem-wrap{
  position: relative;
}

.productItem .item-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-gap: 4px;
}

.item-list .item{
  width: 100%;
  height: 100%;
  min-height: 450px;
  background-color: var(--grayf5);
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

.item a{
  display: block;
  width: 100%;
  height: 100%;
}

.item .item-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.item-text .item-text__title{
  font-size: var(--font-size-S);
  font-weight: normal;
} 

.item .item-text__price{
  font-size: var(--font-size-S);
  margin-top: 10px;
} 

.item .item-imgBox{
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: 10px;
}

.item .item-imgBox__img{
  width: 100%;
} 

.item .item-info{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item .item-info__caption{
  font-size: var(--font-size-XS);
} 

.item-info__caption span{
  display: inline-block;
}

.item .item-info__size{
  font-size: var(--font-size-XS);
  margin-left: 10px;
  flex-shrink: 0;
} 

.item .item-review{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
} 

.item .item-review__number{
  font-size: var(--font-size-XS);
}

.item .item-review__star{
  font-size: var(--font-size-XS);
} 

.pagination{
  width: 100%;
  margin: 20px 0 20% 0;
}

.pagination-list{
  padding-top: 20px;
  text-align: center;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.pagination-item{
  font-size: var(--font-size-XS);
  opacity: 0.5;
  cursor: pointer;
}

.pagination-item.active{
  opacity: 1;
  font-weight: bold;
}

.productNo{
  text-align: center;
  font-size: var(--font-size-XS);
}


@media screen and (max-width:1000px) {
  .item-text .item-text__title{
    font-size: var(--font-size-XS);
  }
  
  .item .item-text__price{
    font-size: var(--font-size-XS);
  }

}

@media screen and (max-width:900px) {
  .filter .filterBox{
    height: 70%;
    width: 100%;
    right: 0%;
    top: 100%;
  }

  .filter .filterBox.active{
    top: 30%;
  }

  .filterBox-Bg .filterBox-Bg-wrap{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .filterBox-Bg .filterBox-Bg__text{
    left: 50%;
    top: 15%;
    transform: translate(-50%,-15%);
  }

  .menu-2__menu .menu-item{
    font-size: var(--font-size-XS);
  }

  .productItem .item-list{
    grid-template-columns: repeat(2,1fr);
  }

  .item-text .item-text__title{
    font-size: var(--font-size-S);
  } 
  
  .item .item-text__price{
    font-size: var(--font-size-S);
  } 
}
@media screen and (max-width:768px) {

  .item-text .item-text__title{
    font-size: var(--font-size-XS);
  } 
  
  .item .item-text__price{
    font-size: var(--font-size-XS);
  } 

  .item-info__size{
    display: none;
  }
}
